
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flappy Bird</title>

    <link rel="icon" href="{% static 'images/fblogo.png' %}" type="image/icon">

    <link rel="stylesheet" href="{% static 'css/hand_game.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <script src="https://cdn.jsdelivr.net/npm/onnxruntime-web/dist/ort.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous" defer></script>

    <script src="{% static 'js/p5.min.js' %}" defer></script>
    <script src="{% static 'js/keyboard/handbird.js' %}" defer></script>
    <script src="{% static 'js/pipe.js' %}" defer></script>
    <script src="{% static 'js/keyboard/hand_game.js' %}" defer></script>
    
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a class="navbar-brand mx-2" href="/game">FlappyBird</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="">Play With Finger</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/game/nose-game">Play With Nose</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/game/about">About && Contact</a>
                </li>
            </ul>  
        </div>
    </nav>
    
    <div class="container mt-5">
        
        <div class="row">
            <div id="column" class="col-sm-6 mx-auto">

                
            </div>
        </div>

        <div class="d-flex justify-content-center ">
            <button id="start-btn" class="mt-3 me-3 btn btn-warning">Start</button>
            <button id="stop-btn" class="mt-3 btn btn-warning">Pause</button>
        </div>
        
    </div>

    <script type="text/javascript">
        let PIPE_DOWN = "{% static 'images/flappybird-pipe-down.png' %}";
        let PIPE_UP = "{% static 'images/flappybird-pipe-up.png' %}";
        let BACKGROUND = "{% static 'images/fbbackground.png' %}";
        let FLAPPY_BIRD = "{% static 'images/flappy-bird.png' %}"
    </script>

</body>
</html>